<!DOCTYPE html>
<head>
    <title>Exam page</title>
</head>  

<body>
    <ul>
       <app-question [question]="Q1" (answerChoosen)=answerChoosenFather(1,$event) (nextClicked)= nextClickedFather($event) *ngIf = "currentQuestionNo == 1"></app-question>
       <app-question [question]="Q2" (answerChoosen)=answerChoosenFather(2,$event)  (nextClicked)= nextClickedFather($event) *ngIf = "currentQuestionNo == 2"></app-question>
       <app-question [question]="Q3" (answerChoosen)=answerChoosenFather(3,$event)  (nextClicked)= nextClickedFather($event) *ngIf = "currentQuestionNo == 3"></app-question>
       <app-question [question]="Q4" (answerChoosen)=answerChoosenFather(4,$event)  (nextClicked)= nextClickedFather($event) *ngIf = "currentQuestionNo == 4"></app-question>
    </ul>
    <ul>
      <app-history [questions]="QuesionsList"  [answers]="answerArray" [currentQuestionNo]="currentQuestionNo"></app-history>
      <!-- <app-history [question]="Q2" *ngIf = "currentQuestionNo == 3"></app-history>
      <app-history [question]="Q3" *ngIf = "currentQuestionNo == 4"></app-history>
      <app-history [question]="Q4" *ngIf = "currentQuestionNo == 5"></app-history> -->

    </ul>
</body>
